{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="chatbox">
        <div class="chatbox__messages">
            <div></div>
        </div>
        <div class="chatbox__footer__container">
            <div class="chatbox__footer">
                <input class="chatbox__footer__input" type="text" placeholder="Write a message ...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}